.introduction{
    height:100vh;
    width:100%;
    background-position: 100% 100%;
    background-size: cover;
    
}
.introduction p{
    color: white;
}
.introduction div h1{
     margin-bottom: 0;
     font-weight: bold;
     color: rgba(255, 255, 255, 0.466);
     font-size: 5rem;
}
.introduction div h1:hover{
   color: white;
   cursor: default;
   text-shadow: 0px 0px 10px #fff;
}

.introduction div span {
    font-size: 2rem;
    color: rgba(228, 67, 156, 0.575);
}
.introduction div span:hover {
    opacity: 0.;
}
.introduction div p {
    color: rgba(255, 255, 255, 0.74);
}
.introduction div h3 {
  margin-top: 0;
  font-size:  3rem;
  color: rgba(255, 255, 255, 0.466);
}
.introduction div h3:hover {
    color: white;
    cursor: default;
    text-shadow: 0px 0px 10px #fff;
  }

.devstack{
    color: white;
    background-color:#001220;
    transform: scale(1.05);
    box-shadow: none;
    padding: 10px;
}
.devstack:hover{
    opacity: 0.7;
}


.who-is-yonathan{
    background-size: 100% 100%;
    height: 75vh;
    color:white;
    transition: all 0.5s;
    overflow: none !important;
}
.who-is-yonathan:hover{
   transform: scale(1.05);
   overflow: none !important;
}
.wy {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif !important;
    color: brown;
    opacity: 0.7;

}
.wy:hover {
    text-shadow: 0px 0px 10px rgba(124, 121, 121, 0.699);

}

.projects-intro h3 {
    color: brown;
    opacity: 0.7;
    margin: 1px;
}
.projects-intro h3:hover {
    text-shadow: 0px 0px 10px rgb(138, 106, 106);

}
.introduction div span {
    font-size: 1.7rem;
    color: rgba(228, 67, 156, 0.575);
}

.imageplus {
    display: inline;
    justify-content: flex-start;
}
.yonathan-img {
    margin-top: 50px;
    animation: project-animation 10s linear infinite;
}
.yonathan-img img {
    border-radius: 60%;
    z-index: 1;
}
.yonathan-img img:hover {
    transform: scale(1.05);
    overflow: none !important;
}



@media(max-width:750px){
    .introduction div h1{
        font-weight: bold;
        color: rgba(255, 255, 255, 0.514);
        font-size: 3rem;
   }
  
   .see {
    height:45px;
    border-radius:2em;
    border:none;
    width: auto;
    padding: 5px 15px;
}

.introduction div h3 {
    margin-top: 0;
    font-size:  1.5rem;
    color: rgba(255, 255, 255, 0.466);
  }

.who-is-yonathan{
    background-size: 200% 100%;
    height: 100vh;
    color:white;
    background-position: right;

}
pre{
    font-size: 14px;
    font-family: "Montserrat", sans-serif !important;
}

.imageplus {
    display: inline;
    justify-content: flex-start;
}
.yonathan-img {
    margin-top: 5px;
    animation: project-animation 10s linear infinite;
    margin-left: 1rem;
}
.yonathan-img img {
    width: 60%;
    height: 60%;
    border-radius: 60%;
    z-index: 1;
}
.yonathan-img img:hover {
    transform: scale(1.05);
    overflow: none !important;
}

.wy {
    font-size: 0.9rem;
    font-family: "Montserrat", sans-serif !important;
    color: brown;
    opacity: 0.7;
    margin: 5px;

}

}